:root {
    --primary-color: #2d7fac;
}

body {
    background: #ffffff;
    margin: 0;
    font-family: sans-serif;
}

.frame {
    display: flex;
    padding: 2em;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2em;
    z-index: auto;

    .left {
        order: 1;
        padding: 2em;
        background: #aaaaaa;
        border-collapse: collapse;
    }

    .right {
        order: 2;
        padding: 2em;
        background: #FFFFFF;
        border-collapse: collapse;
        }
}

.banner {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: stretch;
    padding: 2em;
    position: absolute;
    width: 385px;
    height: 1080px;
    left: 0px;
    top: 0px;
    background: #48AFAB;
    place-content: space-between;
}
