:root {
    --primary-color: #2d7fac;
}

body {
    background: #ffffff;
    margin: 0;
    font-family: sans-serif;
}

.banner {
    min-height: 100vh;
    display: flex;
    width: 21%;
    height: 1000px;
    position: absolute;
    background: #48AFAB;
}

.container {
    display: flex;
    padding: 5em;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.left {
    position: relative;
    padding: 1em;
    flex-basis: 23%;
    height: 300px;
    background: #72CDCA;
}

.left-container {
    justify-content: space-around;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.right {
    position: relative;
    padding: 1em;
    flex-basis: 65%;
    height: 1000px;
    background: #ffcece;
    }