:root {
    --primary-color: #2d7fac;
}

body {
    background: #E6EFF4;
    margin: 0;
    font-family: sans-serif;
}

.navbar {
    background: #FFFFFF;
    padding: 1em;

    .name {
        text-decoration: none;
        font-weight: bold;
        color: black;
        font-size: 1.2em;

        span {
            color: var(--primary-color);
        }
    }

    nav {
        display: none;
    }
    
    .container {
        display: flex;
        place-content: space-between;
    }

    .mobile-menu {
        cursor: pointer;
    }

}

a {
    color: #444444;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.frame {
    padding: 5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5em;

    .left {
        order: 1;
        background: #E6F6F9;
        border-collapse: collapse;
    }
    
    .right {
        order: 2;
        background: #FFFFFF;
        border-collapse: collapse;
      }
}