<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css" />
    <title>Mason Chee's CV</title>
</head>

<body>
    <div class="banner">
        <div class="box">
        </div>
    </div>

    <section>
        <div class="container">
            <div class="left">
                <h1>Mason Chee</h1>
                <p>Applicaton Support Analyst</p>
            </div>
            <div class="right">
                <h1>About Me</h1>
                <p>text</p>
            </div>
        </div>
    </section>

</body>

</html>